@import "tailwindcss";
@plugin "@tailwindcss/typography";
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&family=Lora:wght@400;500&display=swap');

:root {
    --titlebar-height: 30px;
}

body {
  font-family: 'Roboto', sans-serif;
}

@plugin "daisyui" {
  themes: all;
}